{% extends '_layout.html' %}
{% block style %}
<!-- Styles -->
<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div id="landing">
        <div class=".container">
            <div class="box">
                <img class="logo" src='/static/va.png'>
                <h2>Victoria & Albert Museum Tour</h2>
                <hr>
                <h2>The World's Leading Museum of Art and Design</h2>
                <form method="GET" action="">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control search" placeholder="{% if search %}{{search}}{%else%}Search for...{% endif %}">
                                <span class="input-group-btn">
                                    <input class="btn btn-default" type="submit" value="Go">
                                </span>
                            </div>
                            
                            <p id="error" style="display:none;margin-top:20px;">API Error: could not get data from the API. Please refresh the page.</p>
                        </div>
                    </div>
                </form>
                <button id="im_feeling_lucky" class="btn btn-default" type="button">{% if search %}Look for "{{search}}" in the museum{%else%}I'm feeling lucky{% endif %}</button>
            </div>
        </div>
    </div>
    <div id="blocker">
        <div id="instructions">
            <div class=".container">
                <img class="logo" src='/static/va.png'>
                <h2>Victoria & Albert Museum Tour</h2>
                <hr>
                <h2>The World's Leading Museum of Art and Design</h2>
                <button id="continue_button" class="btn btn-default" type="button">Continue looking around</button>
                <a role="button" href="{{url_for('home.index')}}" class="btn btn-default">Take me home</a>
            </div>
        </div>
    </div>
    <div id="information"></div>
{% endblock %}
{% block script %}
    <!-- javascript -->
    <script src="{{url_for('static', filename='js/PointerLockControls.js')}}"></script>
    <script src="{{url_for('static', filename='js/basic_museum_scene.js')}}"></script>
    <script type="text/javascript">
        var cube_start_position = -40;
        
        // Call the Init Function.
        init();
        
        $.get({% if search %}"/api/v1.0/museum/search/{{search}}"{% else %}"/api/v1.0/museum"{% endif %}).done(function(resultData) {
            document.getElementById('error').style.display = "none";
            document.getElementById('im_feeling_lucky').style.display = "inline-block";
            data = resultData.records
            start = 1;
            
            for(var i=0;i<data.length;i+=2){
                x_pos = 40 * start + (Math.floor(Math.random()*31) - 10);
                start = start*-1;
                z_pos = (i * -10) + cube_start_position
                // Add the stand.
                addStand(
                    [
                    data[i].fields,
                    data[i+1].fields,
                    ], x_pos, 0, z_pos
                );
            }
            cube_start_position = (i * -20) + cube_start_position;
        
        }).fail(function (resultData){
            console.log("API Error");
            document.getElementById('error').style.display = "block";
            document.getElementById('im_feeling_lucky').style.display = "none";
        });
        
        // Render the page.
        render();
    </script>
{% endblock %}